.App {
  text-align: center;
}

.box {
background-color:#9b59b6;
padding:2rem;
border-radius: 20px;
box-shadow: 2px 2px 5px rgb(0,0,0,0.55);
color: black;
max-width: 600px;
}

.box button {
  padding: 0.5rem;
  border-radius: 6px;
  background-color: #4cd137;
  box-shadow: none;
  cursor: pointer;
}

.box button:active {
  transform: scale(0.98);
}

.box button:focus {
  outline: none;
}

.box p {
  margin: 1rem 0;
}

.box h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}